@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap"); */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
	--primary: #0d1b2a;
	--secondary: #0077ff;
	--accent: #00c2cb;
	--neutral-light: #f5f7fa;
	--neutral-dark: #64748b;
}

@layer base {
	* {
		/* @apply border-border; */
	}
	body {
		/* @apply bg-background text-foreground; */
		font-family: "Inter", sans-serif;
	}

	.font-poppins {
		font-family: "Poppins", sans-serif;
	}

	.font-inter {
		font-family: "Inter", sans-serif;
	}
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
